body,
html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}
.header-section{
    background-image: url("images/header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
}
.logo-header h2{
    margin-top: 32px;
    font-size: 20px;
    color: #F05F40;
}
.menu ul{
    list-style:none;
    margin-top:20px;
    margin-left: 100px;
}
.menu ul li{
    float:left;
    padding:10px;
    position:relative;
}
.menu ul li a{
    text-decoration: none;
    color:#FFFFFF;
    display: block;
    text-transform: uppercase;
    margin: 0px;
    font-size: 16px;
}
.menu ul li a:hover{
    color: #F06E59;
}
/*.top-header{*/
    /*!*margin: auto 0px;*!*/
    /*margin: 200px 0px 0px 145px;*/
    /*color: #FFFFFF;*/
    /*font-size: 37px;*/
/*}*/
/*.top-header h1{*/
    /*font-size: 42px;*/
    /*line-height: 59px;*/
    /*letter-spacing: 2px;*/
/*}*/
/*.border{*/
    /*width: 60px;*/
    /*margin-left: 270px;*/
    /*background-color: red;*/
    /*margin-bottom: 13px;*/
/*}*/
/*.header-details{*/
    /*margin-left: 177px;*/
    /*margin-top: 17px;*/

/*}*/
/*.header-details h3{*/

    /*color: #E3E2DE;*/
    /*font-size: 18px;*/
/*}*/
#topHeading{
    padding-top: 62px;
    margin-right: 49px;
}
.headerPara{
    width: 575px;
    margin-left: 262px;
}
.headerPara p{
    color: #8F8D8E;
    font-size: 16px;
}
.findout-button{
    padding-bottom: 90px;
}
#line2{
    width: 85px;
    background-color: #EE4B28;
}
#services2{
    border-radius: 10px;
    background-color: #EE4B28;

}
/*#findout{*/
    /*margin-left: 400px;*/
/*}*/
/*#about{*/
    /*margin-top: 20px;*/
/*}*/
#about{
    background-color: #F05F40;
}
#line{
    width: 85px;
    background-color: #FFFFFF;
}
#getStarted{
    border-radius: 10px;
    background-color: #EE4B28;
}
.second-para{
    width: 575px;
    margin-left: 262px;
}
.second-para p{
    color: #FFFFFF;
    font-size: 16px;
}
#serviceHeader{
    text-align: center;
}

#line3{
    width: 85px;
    background-color: #EE4B28;
}
#line4{
    width: 85px;
    background-color: #EE4B28;
}

.menu.ul.li.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.menu.ul.li.dropdown {
    position: relative;
    display: inline-block;
}

.menu.ul.li.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menu.ul.li.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}